body { 
    background-color: rgb(173, 74, 148);
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
}  

.form-container { 
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.titulo { 
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
}

    button { 
        padding: 0%;
        background-color: blueviolet;
        border: none;
        color: white; 
        border-radius: 5px; 
        cursor: pointer; 
} 

