/* estilização */
body { 
  font-family: 'Times New Roman', Times, serif;
  margin: 5 auto;
  padding: 0%;
}  

h1 { 
    color: black;
    text-align: center;
}

h2 { 
    text-align: center;
}

p { 
    line-height: 1.6;
}

.container { 
    display: flex;
    box-sizing: border-box;
    padding: 20px auto;
    align-items: center;
    gap: 20px;
}

.imagem-container { 
    width: 90%;
    max-width: 200px;
    margin: 12px;
    border-radius: 8px;
} 

.texto {
    max-width: 600px;
} 

.texto h3 { 
    margin: 0 0 10px 0;
} 

.texto p {
    margin: 0;
}

footer{
    color: rgb(250, 250, 250);
    background-color: rgb(100, 175, 100);
}

paragrafo { 

}